# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore log files
*.log
*.conf*

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db

# Ignore coverage folder
coverage/