.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('background.jpeg');
  background-size: cover;
  /* Remove the following line to remove the blur effect */
  filter: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #333;
}

.App {
  max-width: 728px;
  margin: 4rem auto;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}
.center-heading {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group {
  flex: 1;
  margin-right: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  color: black;
}

button[type="submit"] {
  background: #ff9900;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.background-image-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url('background.jpeg');
  background-size: cover;
  filter: blur(5px);
}

.foreground-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  backdrop-filter: none;
  filter: none;
}

.form-container {
  text-align: center;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.Card--text h1 {
  color: #ff9900;
}

.Card--button button {
  background: #f5f6f7;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.Card--button__delete {
  border: 1px solid #ca0000;
  color: #ca0000;
}

.Card--button__done {
  border: 1px solid #00aa69;
  color: #00aa69;
  margin-right: 1rem;
}

.Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #444;
  margin-bottom: 1rem;
}

.Form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form input {
  background: #f5f6f7;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
}

.Form label {
}

.Form button {
  background: #ff9900;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}

.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: black;
}

.list-item h3 {
  margin: 0;
  font-size: 16px;
}

.list-item p {
  margin: 0;
  color: #666;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
